a{
    position: relative;
    bottom: 30px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(12, 96, 151);
    text-align: center;
}
body{
    background-color: rgb(156, 127, 113);
}
nav{
    color: rgb(12, 96, 151);
    text-align: center;
}
header nav ul {
    list-style: none;
  }
  header nav ul li {
    color: rgb(12, 96, 151);
    display: inline-block;
    padding: 10px;  
}
header nav ul li a {
    color: rgb(12, 96, 151);
    text-decoration: none;
}
main span{
    width: 30%;
}
  main {
      position: relative;
  }
  .lorem{
      position: relative;
   margin-left: 700px;
    color: rgb(12, 96, 151);
    bottom: 0px;
    flex-flow: wrap;
}

 #all_products {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
}
main #customerChoise{
    color: rgb(12, 96, 151);
    position: absolute;
    left: 10px;
}
 footer{
    background-color: rgb(128, 128, 128);
    padding: 50px 615px;
    color: rgb(12, 96, 151);
}
 h2{
    text-align: right;
}
@keyframes slide {
    0% {
      left: 0;
      top: 0;
    }
    50% {
      left: 244px;
      top: 100px;
    }
    100% {
      left: 488px;
      top: 0;
    }
  }
 #left-product{
    cursor: pointer;
}
#right-product{
    cursor: pointer;
}
#mid-product{
    cursor: pointer;
}